{% extends 'JetNewsletterBundle::layout.html.twig' %}
{% set active = 'newcampaign' %}
{% form_theme form 'JetNewsletterBundle:Form:fields.html.twig' %}
{% block header %}<h1>Nueva Campaña</h1><small>Rellene el formulario</small>{% endblock %}
{% block stylesheets %}
    <link href="{{ asset('css/ui-lightness/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/uploadify/uploadify.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/jcrop/jquery.Jcrop.css') }}" rel="stylesheet" />

    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-1.7.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-1.8.16.custom.min.js') }}"></script>
    <script src="{{ asset('tinymce/tiny_mce.js') }}"></script>
    <script src="{{ asset('js/i18n/jquery-ui-i18n.js') }}"></script>

    <script src="{{ asset('js/uploadify/jquery.uploadify.v2.1.4.min.js') }}"></script>
    <script src="{{ asset('js/uploadify/swfobject.js') }}"></script>

    <script src="{{ asset('js/jquery.Jcrop.min.js') }}"></script>

    {{ form_javascript(form) }}
{% endblock %}
{% block main %}

<form action="{{ path('campanas_create') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form) }}
    <p>
        <button class="btn succes" type="submit">Guardar</button>
    </p>
</form>
        <a class="btn" href="{{ path('campanas') }}">
Volver atrás        </a>
{{ tinymce_init() }}     


{% endblock %}