{% extends 'JetNewsletterBundle::layout.html.twig' %}
{% set active = 'grupos' %}
{% form_theme edit_form 'JetNewsletterBundle:Form:fields.html.twig' %}
{% block stylesheets %}
    <link href="{{ asset('css/ui-lightness/jquery-ui-1.8.16.custom.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/uploadify/uploadify.css') }}" rel="stylesheet" />
    <link href="{{ asset('css/jcrop/jquery.Jcrop.css') }}" rel="stylesheet" />

    {{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
    <script src="{{ asset('js/jquery-1.7.min.js') }}"></script>
    <script src="{{ asset('js/jquery-ui-1.8.16.custom.min.js') }}"></script>
    <script src="{{ asset('tinymce/tiny_mce.js') }}"></script>
    <script src="{{ asset('js/i18n/jquery-ui-i18n.js') }}"></script>

    <script src="{{ asset('js/uploadify/jquery.uploadify.v2.1.4.min.js') }}"></script>
    <script src="{{ asset('js/uploadify/swfobject.js') }}"></script>

    <script src="{{ asset('js/jquery.Jcrop.min.js') }}"></script>

    {{ form_javascript(form) }}
{% endblock %}
{% block header %}<h1>Grupos</h1><small>Editando</small>{% endblock %}
{% block main %}
<form action="{{ path('grupos_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    {{ form_widget(edit_form) }}
    <p>
        <button class="btn success" type="submit">Edit</button>
    </p>
</form>

        <a class="btn" href="{{ path('grupos') }}">
			Volver atrás
        </a>
        <form action="{{ path('grupos_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn danger" type="submit">Delete</button>
        </form>
  
{% endblock %}