{% extends 'JetNewsletterBundle::layout.html.twig' %}
{% set active = 'templates' %}
{% block header %}<h1>Plantillas</h1>{% endblock %}
{% block main %}

<table class="table-striped">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Titulo</th>
            <td>{{ entity.titulo }}</td>
        </tr>
        <tr>
            <th>Creación</th>
            <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Última modificación</th>
            <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
        </tr>
        
        
    </tbody>
</table>

<h2>Previsualización de la Plantilla</h2>
<iframe class="previsualizacion" src="{{ path('renderTemplate',{ 'templateid' : entity.id }) }}" width="600px" height="300px"></iframe>
<br><br>
        <a class="btn" href="{{ path('plantillas') }}">
            Volver atrás
        </a>
        <a class="btn success" href="{{ path('plantillas_edit', { 'id': entity.id }) }}">
            Modificar
        </a>
        <form action="{{ path('plantillas_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button class="btn danger" type="submit">Borrar</button>
        </form>
{% endblock %}